button {
    background-color: rgb(231, 146, 66);
    border-radius: 20%;
    font-size: large;
    box-shadow: 3 3 1 1;
    width: 7rem;
    height: 4rem;
   
}

.dogImg {
    width: 30rem;
    height: 30rem;
    margin: 2rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
}

.section {
    display:flex;
    justify-content: center;
    align-items: center;
}
.sec1{
    background: linear-gradient(rgb(47,150,163), rgb(48,62,143));
}
.sec2 {
    background-image: linear-gradient(120deg, #f6d365, #fda085);
}
select {
width: 10rem;
height: 4rem;
}